{% extends "base.html" %}
{% block content %}
<a href="{{ url_for('user_store') }}" class="btn btn-primary btn-sm glyphicon glyphicon-plus" title="Add new user"></a>
{% if users %}
<h2>List Users</h2>
<table class="table table-bordered table-striped table-hover">
	<thead>
		<tr>
			<th style="text-align: center;">ID</th>
			<th style="text-align: center;">Username</th>
			<th style="text-align: center;">Email</th>
			<th style="text-align: center;">Action</th>
		</tr>
	</thead>
	<tbody>
		{% for user in users %}
		<tr>
			<td>{{ user.id }}</td>
			<td>{{ user.username }}</td>
			<td>{{ user.email }}</td>
			<td style="text-align: center;">
				<a href="{{ url_for('user_update', id=user.id) }}" class="btn btn-warning btn-sm glyphicon glyphicon-pencil"  title="Edit"></a>
				<a href="{{ url_for('user_destroy', id=user.id) }}" class="btn btn-danger btn-sm glyphicon glyphicon-trash"  title="Delete" onclick="return confirm('Confirm delete?')"></a>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endif %}
{% endblock %}
